.header-secondary {
  font-size: 40px;
  font-family: $default-text-font;
  font-weight: 700;
  text-align: right;
  
  &__text {
    border-bottom: 1px solid  darken(red, 10%);
  }

  &--white {
    color:white;
  }
}

.paragraph {
  font-size: 20px;
  font-family: $default-text-font;
  text-align: left;
  margin-left: 0;
  
  &__intro {
    font-weight: 700;
    text-transform: uppercase;
  }
}