.hero {
  position: relative;
  height: calc(100vh - 5.5rem);
  width: 100%;

  //   video {
  //     position: fixed;
  //     top: 50%;
  // left: 50%;
  // min-width: 100%;
  // min-height: 100%;
  // transform: translateX(-50%) translateY(-50%);
  //   }

  background-image: linear-gradient(to top, rgba(59, 59, 59, 0.7), rgba(59, 59, 59, 0.3));

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    
    &__content {
      height: 106%;
      width: 105%;
      object-fit: cover;
      position: absolute;
      left: -2%;
      filter:  grayscale(100%) contrast(100%) blur(1px);
      filter:  grayscale(00%) contrast(100%) blur(3px);
      
    }
  }

  &__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 4px;

    hr {
      border-top: white solid 2px;
      margin-left: auto;
      margin-right: auto;
      visibility: hidden;
      -webkit-animation: grow 1s 2s; /* For Safari 3.1 to 6.0 */
      animation: grow 1s 2s forwards;
    }

    h1 {
      font-size: 23px;
      font-weight: 300;

      &:nth-child(1) {
        font-size: 45px;
        letter-spacing: 8px;
        animation: moveInTop 2s ease-out forwards;
      }

      &:nth-child(3) {
        visibility: hidden;
        animation: moveInBottom 2s 1s ease-out forwards;
      }
    }
  }

  &__scroll {
    position: absolute;
    height: auto;
    width: auto;
    bottom: 8%;
    left: 50%;
    visibility: hidden;
    text-align: center;
    animation: moveInChevron 1s 3.5s ease-out forwards;

    .chevron {
      width: 40px;
      height: 40px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transition: all 1s;
      transform: rotateZ(-45deg);

      &:hover {
        transform: translateY(-1rem)  rotateZ(-45deg);
        cursor: pointer;
      }
    }
  }
}